body {
    margin: 0;
    padding: 0;
}
.header{
    height: 50vh;
    background-image:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.5)), url(../photo/home.jpeg);
    background-size: cover;
    background-position: bottom ;
    display: flex;
    justify-content: space-between;
}
.header-logo h3{
    color: orange;
    padding: 10px;
}
.nav-control {
    display: flex;
    padding: 10px;
    
}
.nav-items {
    list-style: none;
    padding: 10px;

}
.nav-link {
    text-decoration: none;
    color: #fff;
}

